body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F9;
    margin: 0;
    padding: 0;
    color: #333333;
}

.header {
    text-align: center;
    padding: 30px;
    background-color: #2C3E50;
    color: #ECF0F1;
    border-bottom: 4px solid #1F2C38;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
}

.box {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    margin-top: 0;
    color: #2C3E50;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    font-size: 16px;
    color: #555555;
    font-weight: 500;
}

button {
    background-color: #34495E;
    color: #ECF0F1;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #2C3E50;
}

#resultado {
    font-weight: bold;
    color: #34495E;
    margin-top: 20px;
    font-size: 18px;
}
